/alu.bld
/alu.cmd_log
/alu.gise
/alu.lso
/alu.ncd
/alu.ngc
/alu.ngd
/alu.ngr
/alu.pad
/alu.par
/alu.pcf
/alu.prj
/alu.ptwx
/alu.stx
/alu.syr
/alu.twr
/alu.twx
/alu.unroutes
/alu.v.out
/alu.xise
/alu.xpi
/alu.xst
/alu_beh.prj
/alu_envsettings.html
/alu_guide.ncd
/alu_map.map
/alu_map.mrp
/alu_map.ncd
/alu_map.ngm
/alu_map.xrpt
/alu_ngdbuild.xrpt
/alu_pad.csv
/alu_pad.txt
/alu_par.xrpt
/alu_summary.html
/alu_summary.xml
/alu_ts.v.out
/alu_ts_beh.prj
/alu_ts_isim_beh.exe
/alu_ts_isim_beh.wdb
/alu_ts_isim_beh1.wdb
/alu_usage.xml
/alu_xst.xrpt
/build.vhd
/build_summary.html
/confide.wcfg
/fuse.log
/fuse.xmsgs
/fuseRelaunch.cmd
/ipcore_dir
/iseconfig
/isim
/isim.cmd
/isim.log
/par_usage_statistics.html
/templates
/webtalk_pn.xml
/xilinxsim.ini
/xlnx_auto_0_xdb
/xst
/_ngo
/_xmsgs